<% layout("./layouts/boilerplate") -%>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="login-overlay">
  <div class="login-card">
    <div class="login-header">
      <i
        class="fa-regular fa-house fa-bounce"
        style="color: #005af5; font-size: 3rem"
      ></i>
      <h2>Wanderlust</h2>
    </div>

    <form
      action="/signup"
      method="POST"
      class="login-form needs-validation"
      novalidate
    >
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
          id="username"
        />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Email address"
          required
          id="email"
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
      </div>

      <button class="login-btn btn-success">Sign Up</button>

      <a href="/login" class="forgot-link"> Already have an account? Login </a>
    </form>
  </div>
</div>
